.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.autoPlayLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 11px;
  cursor: pointer;
  pointer-events: auto;
}
